/**********************************************TAG SELECTORS**********************************************/

h1{
  color: red;
}

img:hover{
  background-color: gold;
}



/**********************************************CLASS SELECTORS**********************************************/
.bacon{
  background-color: green;
}

.brocolli{
  background-color: red;
}




/**********************************************ID SELECTORS**********************************************/
#heading{
  color: blue;
}
